a {
  color: #FFFFFFC0;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

body {
  background-color: #090b1a;
}

h1 {
  color: white;
  font-family: 'Lexend Deca', sans-serif;
  width: 50%;
  font-weight: 700;
}

h2 {
  color: #FFFFFF99;
  font-family: 'Lexend Deca', sans-serif;
  width: 50%;
  font-weight: 700;
  margin: 0;
}

img {
  border-radius: 0 8px 8px 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  float: right;
  width: 45%;

}

p {
  color: #FFFFFFC0;
  font-family: 'Inter', sans-serif;
  width: 40%;
  line-height: 2;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}

.bottom-container {
  position: relative;
  width: 50%;
  bottom: 0;
  padding-top: 50px;
  font-size: 15px;
}

.card {
  position: relative;
  background-color: #1b1938;
  border-radius: 8px;
  margin: 100px auto 100px ;
  width: 1000px;
  height: 400px;
}

.comp {
  position: absolute;
  left: 0;
}

.img {
  background-color: #aa5cdb;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  float: right;
  width: 45%;
  height: 100%;
  border-radius: 0 8px 8px 0;
  opacity: 0.4;
}

.insights {
  color: #aa5cdb;
}

.temp {
  position: absolute;
  left: 130px;
}

.text {
  padding-left: 60px;
  padding-top: 40px;
}

.quer {
  position: absolute;
  left: 260px;
}
